

.country-expenses {
  width: 350px;
  max-width: 350px;
  & mat-form-field {
    display: block;
  }
}

table {
  width: 100%;
  font-weight: bold;
}
ion-avatar {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  overflow: visible;
  margin-right: 10px;
}

.mat-table-container {
  margin: 20px;
  overflow-x: scroll;
}

.add-icon {
  position: absolute;
  bottom:15px;
  right: 30px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0px 10px;
  font-size: 12px;
  font-weight: bold;
}
.action-icons {
  font-size: 12px;
  & ion-icon {
    cursor: pointer;
    margin: 0 5px;
  }
}

td.mat-cell {
  color: black;
  font-weight: bold;
}

.width-80 {
  padding-top:5px;
  width: 80px;
}
.width-130 {
  padding-top:5px;
  width: 130px;
}
.width-180 {
  padding-top:5px;
  width: 130px;
}

.autocomplete-option {
  font-size: 10px;
  padding: 5px 10px;
  min-height: 20px;
  height: 15px;
}
.mat-tab-link {
  height: 70px;
}
.total-price {
  font-weight: bold;
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  & span {
    border: 2px dotted black;
    padding: 3px 7px;
  }
}
.standard-input {
  height: 18px;
  padding: 0;
  font-size: 12px;
  border-radius: 0;
  &.max-50px {
    max-width: 50px;
  }
}

.standard-button {
  padding: 3px 6px;
  font-size: 12px;
}

tr.mat-row, tr.mat-footer-row, tr.mat-header-row {
  height: 25px;
}

.ticket-type-icon {
  font-size: 20px;
  margin-right: 7.5px;
}

.invoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-drivers {
    padding: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  &-headline {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &-nr {
    display: block;
    font-weight: bold;
  }
  &-period {
    display: block;
    font-size: 10px;
    font-weight: bold;
  }
}

.ticket-type-label {
  margin-left: 10px;
  font-size: 10px;
}

.gratis-checkbox {
  margin-left: 20px;
}
