<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Nazad</ion-button>
    </ion-buttons>
    <ion-title>Kreiraj Vozilo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <form [formGroup]="createVehicleForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Broj Tablica</ion-label>
        <ion-input formControlName="plateNumber" placeholder="Unesite Tablice" type="text"></ion-input>
        <ion-text
          color="danger"
          *ngIf="!createVehicleForm.controls.plateNumber.valid && createVehicleForm.controls.plateNumber.dirty"
          class="invalid-field"
        >
          Polje Broj Tablica polaska je obavezno.
        </ion-text>
      </ion-item>
    </ion-list>
  </form>
  <ion-button
    [disabled]="!createVehicleForm.valid"
    (click)="createDriver()"
    class="submit-ticket"
    size="large"
    expand="full"
    color="primary"
    >Kreiraj
    <ion-icon name="checkmark-outline" size="large"></ion-icon>
  </ion-button>
</ion-content>
