<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="karte">
      <ion-icon name="ticket-sharp"></ion-icon>
      <ion-label *ngIf="!isMobile()">Karte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rezervacije">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label *ngIf="!isMobile()">Rezervacije</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="konfiguracija">
      <ion-icon name="cog-sharp"></ion-icon>
      <ion-label *ngIf="!isMobile()">Konfiguracija</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="korisnik">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label *ngIf="!isMobile()">Korisnik</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presentAlertConfirm()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label *ngIf="!isMobile()">Odjava</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
