<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Nazad</ion-button>
    </ion-buttons>
    <ion-title>Kreiraj Liniju</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="createBusLineForm">
    <ion-list class="ion-no-margin">
      <ion-item>
        <ion-label position="stacked">Mjesto polaska</ion-label>
        <ion-input formControlName="lineCityStart" placeholder="Unesite grad" type="text"></ion-input>
        <ion-text
          color="danger"
          *ngIf="!createBusLineForm.controls.lineCityStart.valid && createBusLineForm.controls.lineCityStart.dirty"
          class="invalid-field"
        >
          Polje Mjesto polaska je obavezno.
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mjesto odredišta</ion-label>
        <ion-input formControlName="lineCityEnd" placeholder="Unesite grad" type="text"></ion-input>
        <ion-text
          color="danger"
          *ngIf="!createBusLineForm.controls.lineCityEnd.valid && createBusLineForm.controls.lineCityEnd.dirty"
          class="invalid-field"
        >
          Polje Mjesto odredišta je obavezno.
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cijena (1 pravac)</ion-label>
        <ion-input formControlName="linePriceOneWay" placeholder="Unesite cijenu" type="number"></ion-input>
        <ion-text
          color="danger"
          *ngIf="!createBusLineForm.controls.linePriceOneWay.valid && createBusLineForm.controls.linePriceOneWay.dirty"
          class="invalid-field"
        >
          Polje Cijena (1 pravac) je obavezno.
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cijena (povratna)</ion-label>
        <ion-input formControlName="linePriceRoundTrip" placeholder="Unesite cijenu" type="number"></ion-input>
        <ion-text
          color="danger"
          *ngIf="
            !createBusLineForm.controls.linePriceRoundTrip.valid && createBusLineForm.controls.linePriceRoundTrip.dirty
          "
          class="invalid-field"
        >
          Polje Cijena (povratna) je obavezno.
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Kilometri BIH</ion-label>
        <ion-input formControlName="bihKilometers" placeholder="Unesite kilometre" type="number"></ion-input>
        <ion-text
          color="danger"
          *ngIf="!createBusLineForm.controls.bihKilometers.valid && createBusLineForm.controls.bihKilometers.dirty"
          class="invalid-field"
        >
          Polje Kilometri BIH je obavezno.
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Kilometri DE</ion-label>
        <ion-input formControlName="deKilometers" placeholder="Unesite kilometre" type="number"></ion-input>
        <ion-text
          color="danger"
          *ngIf="!createBusLineForm.controls.deKilometers.valid && createBusLineForm.controls.deKilometers.dirty"
          class="invalid-field"
        >
          Polje Kilometri DE je obavezno.
        </ion-text>
      </ion-item>

      <ion-list-header>Država polaska:</ion-list-header>

      <ion-item lines="none">
        <ion-segment color="primary" formControlName="lineCountryStart">
          <ion-segment-button color="primary" value="bih">
            <ion-label>BiH</ion-label>
          </ion-segment-button>
          <ion-segment-button value="de">
            <ion-label>Njemačka</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-list-header>Polasci:</ion-list-header>

      <ion-item lines="none" *ngFor="let startDay of busLineDays.value; index as index">
        <ion-label>{{ availableDays[startDay.day].text }} ({{ startDay.time | date: 'HH:mm' }})</ion-label>
        <ion-icon (click)="removeBusLineDay(index)" color="primary" slot="end" name="close"></ion-icon>
      </ion-item>

      <ion-item lines="none" *ngIf="!busLineDays?.length">
        <ion-label>Nema dodanih polazaka.</ion-label>
      </ion-item>

      <ion-list-header>Dodaj polazak:</ion-list-header>

      <ng-container [formGroup]="addStartDayForm">
        <!--ADD DAY-->
        <ion-item lines="none">
          <ion-label position="stacked">Dan </ion-label>
          <ion-select formControlName="day" okText="Potvrdi" cancelText="Odustani" placeholder="Izaberi dan">
            <ng-container *ngFor="let day of availableDays">
              <ion-select-option *ngIf="!isDayIsUsed(day.value)" [value]="day.value"> {{ day.text }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <!--ADD TIME-->
        <ion-item button="true" id="open-time-input">
          <ion-label>Vrijeme Polaska</ion-label>
          <ion-text slot="end" *ngIf="addStartDayForm.controls.time.value">{{
            addStartDayForm.controls.time.value | date: 'HH:mm'
          }}</ion-text>
          <ion-popover trigger="open-time-input" show-backdrop="false">
            <ng-template>
              <ion-datetime
                minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                #popoverTime
                presentation="time"
                (ionChange)="setTime(popoverTime.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
        <!--SUBMIT BUS LINE START-->
        <ion-item lines="none">
          <ion-button
            [disabled]="!addStartDayForm.valid"
            slot="end"
            size="medium"
            color="primary"
            (click)="addBusLineDay()"
          >
            <ion-icon color="light" name="add-outline"></ion-icon>
            Dodaj polazak
          </ion-button>
        </ion-item>
      </ng-container>
    </ion-list>
  </form>

  <ion-button
    [disabled]="!createBusLineForm.valid"
    (click)="createBusLine()"
    class="submit-ticket"
    size="large"
    expand="full"
    color="primary"
    >Sačuvaj promjene
    <ion-icon name="checkmark-outline" size="large"></ion-icon>
  </ion-button>
</ion-content>
