.app-header {
  //padding: 5px;
  //background: gray;
}

.app-content {
  font-family: Quicksand-Regular;
}


.app-logo {
  width:120px;
  height: auto;
  margin-left: 15px;
  //margin: 0 auto;
}
.logout-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.app-title {
  font-size: 30px;
  color: #eb445a;
  padding: 3px 0;
}
