:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

ion-content {
  --background: #f2f2f7;
}

ion-datetime {
  height: auto;
  width: auto;

  max-width: 350px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-gap: 0 10px;
}

ion-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}

.ticket-list {
  background: #e8e8e8;
  min-height: 100vh;
  & .ticket {
    overflow: visible;
    margin: 20px 5px;
    &-icon {
      position: absolute;
      top:5px;
      left:5px;
    }
    &-trip-type {
      &-icon {
        position: absolute;
        top:5px;
        left:85px;
      }
    }
    &-type {
      &-icon {
        position: absolute;
        top:5px;
        left:45px;
      }
    }
    &-item {
      text-align: center;
      padding-top:40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 20px;
      align-items: center;
      line-height: 1;
      &-phone {
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        font-stretch: ultra-expanded;
      }
    }
    &-payed {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      &-icon {
        height: 20px;
        width: 20px;
      }
    }

    &-edit {
      position: absolute;
      right: 7.5px;
      top: 0px;
      &-option {
        margin: 7px 0;
      }
    }
    &-date {
      position: absolute;
      top: 6px;
      left: 130px;
      display: flex;
      align-items: center;
      background: white;
      border: 1px dotted #777;
      padding: 5px 7px;
      border-radius: 4px;
      font-weight: bold;
      font-size:10px;
    }
  }
}

.add-icon {
  position: absolute;
  bottom:15px;
  right: 30px;
}
.table-icon {
  position: absolute;
  bottom: 15px;
  right: 90px;
}

.no-results {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}
.bus-line-country {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  overflow: visible;
}
.bus-line-title {
  padding-top:10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 30%;
    min-width: 30%;
    & p {
      line-height: 1;
      text-align: center;
      word-break: break-all;
    }
  }
}

.divider-container {
  padding: 10px;
  & .lines {
    position: relative;
    height: 10px;
    width: 100px;

    & .middle-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::after , &::before {
      content: '';
      position: absolute;
      margin: auto;
      height: 2px;
      background: #666;
      width: 40%;
      top: 45%;
    }
    &::after {
      left: 0;
    }
    &::before {
      right: 0;
    }
  }
}
.ticket-price {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.ticket-type-label {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  display: block;
}
