/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: 'Quicksand-Bold';    //This is what we are going to call
  src: url('./assets/font/Quicksand-Bold.ttf');
}
@font-face {
  font-family: 'Quicksand-Light';    //This is what we are going to call
  src: url('./assets/font/Quicksand-Light.ttf');
}
@font-face {
  font-family: 'Quicksand-Medium';    //This is what we are going to call
  src: url('./assets/font/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand-Regular';    //This is what we are going to call
  src: url('./assets/font/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand-SemiBold';    //This is what we are going to call
  src: url('./assets/font/Quicksand-SemiBold.ttf');
}

* {
  font-family: 'Quicksand-Regular' !important;
}


.sc-ion-alert-md-h{
  width: 100% !important;
  --width:100% !important;
  min-width: 100% !important;
  --min-width: 100% !important;

  & .alert-wrapper {
    @media screen and (max-width: 992px) {
      & {
        width: 90% ;
        --width:90% ;
        min-width: 90% ;
        --min-width: 90% ;
      }
    }
    width: 40%;
    --width:40%;
    min-width: 40%;
    --min-width: 40%;
  }
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & ion-spinner {
    width: 50px;
    height: 50px;
  }
}


